node_modules/
dist/
output/
*.log
.env
.env.local
.env.production
.DS_Store
package.json.bak
vite.config.*.timestamp*
*.tsbuildinfo
.pnpm-store
.firebase
package-lock.json
yarn.lock
emulator-data/
.nfs*
